{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}容留案情分析{% endblock %}


{% block page_content %}
<div class="page-header">
    <h1>欢迎跑来提取要素！</h1>
</div>
{{ wtf.quick_form(form) }}
<hr>
<h3>出警时间：</h3>
<div class="output" style="background-color:#f6f6f6;height:50px;padding:10px">
	{% if result['CJ']|length==0 %}
		<p>未知</p>
	{% else %}
		<p>{{ result['CJ'] }}</p>
	{% endif %}
</div>
<h3>案发时间：</h3>
<div class="output" style="background-color:#f6f6f6;height:50px;padding:10px">
	{% if result['AF']|length==0 %}
		<p>未知</p>
	{% else %}
		<p>{{ result['AF'] }}</p>
	{% endif %}
</div>
<h3>案发地点：</h3>
<div class="output" style="background-color:#f6f6f6;height:50px;padding:10px">
	{% if result['DD']|length==0 %}
		<p>未知</p>
	{% else %}
		<p>{{ result['DD'] }}</p>
	{% endif %}
</div>
<h3>容留者：</h3>
<div class="output" style="background-color:#f6f6f6;height:50px;padding:10px">
	{% if result['RL']|length==0 %}
		<p>未知</p>
	{% else %}
		<p>{{ result['RL'] }}</p>
	{% endif %}
</div>
<h3>被容留者：</h3>
<div class="output" style="background-color:#f6f6f6;height:50px;padding:10px">
	{% if result['BRL']|length==0 %}
		<p>未知</p>
	{% else %}
		<p>{{ result['BRL'] }}</p>
	{% endif %}
</div>
<h3>其他嫌疑人：</h3>
<div class="output" style="background-color:#f6f6f6;height:50px;padding:10px">
	{% if result['XY']|length==0 %}
		<p>未知</p>
	{% else %}
		<p>{{ result['XY'] }}</p>
	{% endif %}
</div>
<h3>毒品名称：</h3>
<div class="output" style="background-color:#f6f6f6;height:50px;padding:10px">
	{% if result['DP']|length==0 %}
		<p>未知</p>
	{% else %}
		<p>{{ result['DP'] }}</p>
	{% endif %}
</div>
<h3>吸毒工具：</h3>
<div class="output" style="background-color:#f6f6f6;height:50px;padding:10px">
	{% if result['GJ']|length==0 %}
		<p>未知</p>
	{% else %}
		<p>{{ result['GJ'] }}</p>
	{% endif %}
</div>
{% endblock %}
